@import url(styles/cabecalho.css);
@import url(styles/agenda.css);
@import url(styles/rodape.css);
@import url(styles/botoes.css);
@import url(styles/menu-lateral.css);
@import url(styles/formulario.css);

:root {
    --fonte-principal: "Montserrat", sans-serif;
    --cor-de-fundo-body: linear-gradient(165.96deg, #F8F4FF 0%, #EFF0F4 100%);
    --cor-fonte-principal: #464646;
    --cor-de-fundo-branca: #FFFFFF;
    --cor-de-fundo-rodape: #000000;
    --cor-itens-status-bar: #333333;
    --cor-fonte-cinza-claro: #A3A3A3;
    --cor-borda-botao: #ECECEC;
    --cor-fundo-elipse: #F6F6F6;
    --botao-laranja: #FFB050;
    --botao-azul: #4894FF;
    --cor-sombra: #0000000F;
    --cor-sombra-botao: #4894FF29;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--cor-de-fundo-body);
    font-size: 1.4rem;
    font-weight: 400;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-principal);
    min-height: 100vh;
    padding-bottom: 6.3rem;
    max-width: 1600px;
    margin: auto;
    display: flex;
}