.menu__lateral {
    display: none;
}

@media screen and (min-width: 1440px) {

    .menu__lateral {
        display: block;
        background-color: var(--cor-de-fundo-branca);
        position: fixed;        
        top: 0;
        bottom: 0;
        padding: 2.4rem .2rem;
        border-right: .2rem solid var(--cor-borda-botao);
    }
    
    .rodape__lista {
        display: flex;
        flex-direction: column;
    }
}